// VENDOR
// ____________________________
@import "vendor/loader";

// VARIABLES
// ____________________________
$app-header-height: 5em;
$font-size-page-title: 1.5em;


// LAYOUTS
// ____________________________
// Three column vertically and horizontally centered layout using Flexbox

.three-col-layout {
	display: flex;
  flex-flow: row nowrap;
  align-items:center;

  .main-content {
  	flex: 1;
  }

  .left-right-icons {
    width: 3em;
  }

}

// APP HEADER
// ____________________________

.navbar {
	height: $app-header-height;
 
  .navbar-header {

    .navbar-brand {
      margin-top: .25em;
      font-size: $font-size-page-title;
    }
  }
}


// BUTTONS
// ____________________________

.icon-btn{
  background-color: transparent;
  border:none;
  
  margin:0;
  padding:.5em;
  text-align: center;

  &:focus {
   outline: 0;
  }

}


// HELPERS
// ____________________________

.centered {
  text-align: center;
}
.full-width {
  width: 100%;
}